Health {
    position: absolute;
    left: 36;
    bottom: 28;
    height: 70;
    width: 192;
    padding: 0 20;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    /*    backdrop-filter: blur( 20 );*/
    border-radius: 10;

    &.hidden {
        display: none;
    }
}

Suit {
    position: absolute;
    left: 278;
    bottom: 28;
    height: 70;
    width: 192;
    padding: 0 20;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    /*    backdrop-filter: blur( 20 );*/
    border-radius: 10;

    &.hidden {
        display: none;
    }
}

AuxPower {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 36;
    bottom: 112;
    height: 50;
    width: 192;
    padding: 0 20;
    background-color: rgba(0, 0, 0, 0.3);
    // backdrop-filter: blur( 20 );
    border-radius: 10;

    .AuxPanelIdent {
        top: 4;
        font-size: 13;
        font-family: Verdana;
        font-weight: bold;
        color: rgba(255, 220, 0, 0.7);
    }

    .AuxPowerBlocksPanel { // TODO: Add a gap between the blocks once either https://github.com/Facepunch/sbox-issues/issues/1713 is resolved or an alternative solution is found
        margin-top: 8;
        width: 100%;

        .AuxPowerBlock {
            background-color: rgba(255, 220, 0, 0.7);
            width: 14;
            height: 10;

            &.disabled {
                background-color: rgba(255, 220, 0, 0.3);
            }
        }
    }

    &.hidden {
        display: none;
    }
}

AmmoDisplay {
    position: absolute;
    right: 36;
    bottom: 28;
    height: 70;
    width: 297;
    padding: 0 20;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    /*    backdrop-filter: blur( 20 );*/
    border-radius: 10;

    &.hideAmmoDisplay {
        display: none;
    }
}

.AmmoTypeIcon {
    bottom: 10;
    left: 0;
    font-size: 50;
    font-family: HalfLife2;
    font-weight: bold;
    color: rgba(255, 220, 0, 0.7);
}

.AmmoNumber {
    font-size: 50;
    position: absolute;
    left: 97;
    font-family: HalfLife2;
    color: rgba(255, 220, 0, 0.7);
}

.ReserveNumber {
    font-size: 28;
    position: absolute;
    right: 42;
    bottom: 8;
    font-family: HalfLife2;
    color: rgba(255, 220, 0, 0.7);
}

.HASIdent {
    position: absolute;
    bottom: 15;
    left: 19;
    font-size: 14;
    font-family: Verdana;
    font-weight: bold;
    color: rgba(255, 220, 0, 0.7);
}

.HASNumbers {
    font-size: 48;
    position: absolute;
    left: 91;
    font-family: HalfLife2;
    color: rgba(255, 220, 0, 0.7);
}

Crosshair {
    color: white;
    font-family: HalfLife2;
    font-size: 38;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.hidden {
        display: none;
    }
}

rootpanel {
    background-color: rgba(#333, 0);
    transition: background-color 0.2s ease-in;
}
